.balance-page-input {

    color: white;
    background-color: #13ae4b;
    width: 250px;
    height: 350px;
    text-align: center;
    display: inline-block;
    margin: 40px;
    box-shadow: 2px 2px 10px 2px black;
    vertical-align: top;
}

.balance-page-input label{
    display: block;
}

.balance-page-section {

    margin: auto;
    width: fit-content;
}