.loan-form {

    color: white;
    margin-left: 80px;
}

.loan-form .input-section {
    display: block;
    font-size: 25px;
    margin: 50px 0;
}

.loan-form .input-section label {
    margin-left: 40px;
}

.loan-form input {
    margin: 10px 40px;
}

.loan-header {
    font-size: 40px;
    color: white;
    font-weight: normal;
    margin: 40px;

}
.loan-button {
    border-radius:10%;
    min-width:220px;
    padding: 10px;
    font-size: 20px;
    border: none;
    color: black;
    background-color: white;
}
.loan-subheader {
    color: white;
    background-color: #33826A;
    padding: 20px;
    text-align: left;
    margin: 0px;
}

.loan-display {
    display: inline-block;
    float: right;

    margin-left: 40px;
    vertical-align: top;
}

.loan-display-text {
    display: flex;
    background-color: #33826A;
    color: white;
    min-width: 250px;
    min-height: 250px;
    padding: 30px;
    border-radius: 100%;
    font-size: 80px;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-self: center;
}

p {
    width: 100%;
}