.login-form>input {
    display: block;
    width: 100%;
    position: relative;
    height: 20px;
}

.login-decor-container {
    float: right;
    position: relative;

    width: 500px;
    height: 30rem;
    margin-left: 10%;
    margin-right: auto;
}

.login-page {

    position: relative;
}

.login-decor {
    border-radius: 100%;
    position: absolute;
}

.login-button {
    margin-top: 10px;

    font-size: 20px;
    border-width: 1px;
    border-radius: 10px;
    background-color: #4B7F6A;
    color: white;
    width: 100%;
    height: 40px;
}

.login-container {
    display: inline-block;
    position: relative;
    bottom: 0;
    margin: 50px;
    margin-top: 80px;

    border-radius: 100%;
    background-color: #F0F0F0;
    padding: 100px;
    width: 400px;

}