.CSideBar {
    height: 100vh;
    min-width: 20%;
    display: inline-block;
    margin: 50px;
    position: relative;
    margin-right: 0;
    animation-name: fadeIn;
    animation-duration: 2s;
}

.my-calendars h3 {
    text-align: center;
    color: #33826A;
}

.my-calendars input {

    width: 15px;
    height: 15px;
}

.my-calendars label {
    font-size: 20px;
}


.CSSideBar-input-display {
    margin-top: 30%;
    color: white;
}

.CSideBar-input {
    text-align: center;
    display: inline-block;
    border-radius: 20%;
    padding: 10px;
    background-color: #33826A;
    width: 160px;
    height: 160px;
    transition: 0.3s;
    vertical-align: top;
}

.CSideBar-input:hover {
    width: 200px;
    height: 200px;
}

.CSideBar-input label {

    color: white;
}

.CSideBar-input * {
    display: block;
}

.CSideBar-input input {
    width: 150px;
    align-self: center;
    height: 10px;
    text-align: center;

}