.Sample input,

.cycler {
    display: inline-block;
}

.cyclerButton {
    border-width: 0;
    font-size: 2rem;
    background-color: transparent;
    display: inline-block;
    color: black;
    border-radius: 35%;
    padding: 20px;
    margin: 0 30px;
    transition: 0.1s;

}

.cyclerButton:hover {
    font-size: 2.2rem;

}

.Sample header {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
}


.Sample {
    display: inline-block;
    width: 740px;
    vertical-align: top;
}


.Sample header h1 {
    font-size: inherit;
    margin: 0;
}

.Sample__container {
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

}

.react-calendar__month-view__weekdays__weekday {
    background-color: rgb(51, 130, 106);
    color: white;
    width: 100px;
    padding: 20px 0;
    text-transform: capitalize !important;
    text-decoration: none !important;
}

.react-calendar__month-view__weekdays__weekday>abbr {
    text-transform: uppercase !important;
    text-decoration: none !important;
}

.Sample__container__content {
    display: flex;
    flex-basis: 420px;
    flex-direction: column;
    flex-grow: 100;
    align-items: stretch;
    height: 100%;
}

.Sample__container__content .react-calendar {
    margin: 0 auto;
    padding: 0 5%;

}

.react-calendar__viewContainer {

    border-width: 2px;
    border-color: rgb(51, 130, 106);
    border-style: solid;
}

.tile {
    position: relative;
    justify-content: center;
    display: flex;
    width: 190px;
    height: 100px;
    background-color: white;
    border-width: 2px;
    border-color: rgb(51, 130, 106);
    border-style: solid;
}

.tile>abbr {
    font-size: 15px;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 10px;
    justify-content: flex-end;

}

.today {
    font-weight: bold;
    color: red;
}

.last {
    color: rgba(157, 157, 157, 0.5);
    background-color: rgb(216, 216, 216);
}

.budget-adjustment {
    padding: 1px 20px;
    color: white;
    margin: auto;
    border-radius: 30%;
    text-transform: capitalize !important;

}

.budget-adjustment-list {
    margin-top: 30%;
    overflow: auto !important;
        height: 55%;

}