.CSideBar {
    height: 100vh;
    min-width: 20%;
    display: inline-block;
    margin: 50px;
    position: relative;
}

.CSideBar-input {
    text-align: center;

    border-radius: 100%;
    padding: 10px;
    background-color: #06AADA;
    width: 120px;
    height: 120px;
    
}

.CSideBar-input label {

    color: white;
}

.CSideBar-input * {
    display: block;
}

.CSideBar-input input {
    width: 150px;
    align-self: center;
    height: 10px;
    text-align: center;

}